<?xml version="1.0" encoding="utf-8"?>
<manifest package="klima.tomas.recyclerviewandpicasso"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


	<application
		android:name="klima.tomas.recyclerviewandpicasso.CustomApplication"
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="PuppyRecipe"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<service
			android:name=".background.UserSpying"
			android:exported="false"/>

		<activity android:name=".MainActivity" />
		<activity android:name=".DisplayIngredientsActivity" />
		<activity android:name=".SearchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="4e27f074258faf45a78a673c9fcfcd9935beb261"
			/>
	</application>

</manifest>